.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 28px;

  color: $white;
  font-size: 12px;
  font-weight: 600;

  border: 1px solid $white;
  border-radius: 3px;

  padding: 0 10px;

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
