.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 28px;

  color: $white;
  font-size: 12px;
  font-weight: 600;

  border: 1px solid $white;
  border-radius: 3px;

  padding: 0 10px;

  transition: all 150ms ease-in-out;

  &:hover {
    color: $primary;
    background: $white;
  }

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &.btn-primary {
    color: $primary;
    background: $white;
    font-weight: 700;
  }

  &.btn-secondary {
    color: $white;
    background: transparent;
  }
}
