@import "variables";
@import "card";

.home {
  padding-top: 56px;
  padding-bottom: 40px;

  .content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 96px);
    max-height: calc(100vh - 96px);

    .input-container {
      display: flex;
      flex-wrap: nowrap;

      height: 40px;
      min-height: 40px;

      border-radius: 4px;
      margin-bottom: 24px;

      overflow: hidden;

      input {
        display: flex;
        align-items: center;
        flex: 1;

        height: 100%;
        min-height: 100%;

        background: $secondary;
        border: 0;
        padding: 0 24px;

        outline: 0;
      }

      .btn {
        width: 80px;
        min-width: 80px;

        height: 100%;
        min-height: 100%;

        border: 0;
        border-radius: 0;
        background: #52565a;

        padding: 0;

        svg {
          .fill {
            fill: $white;
          }
        }
      }
    }

    .card {
      height: calc(100vh - 184px);
      flex: 1;

      .card-body {
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 0.01em;

          margin-bottom: 24px;
        }

        .repositories {
          display: flex;
          flex-direction: column;
          flex: 1;

          list-style: none;
          padding: 0;
          margin: 0;
          margin: 0 -12px;

          overflow: hidden;
          overflow-y: auto;

          &::-webkit-scrollbar {
            width: 8px;
            opacity: 0;

            transition: all 250ms ease-in-out;
          }

          &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.25);

            transition: all 250ms ease-in-out;
            cursor: pointer;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, 0.35);
          }

          .repository-item {
            display: flex;
            flex-direction: column;

            margin-bottom: 8px;

            &:last-child {
              margin-bottom: 0;
            }

            .repository-link {
              display: flex;

              padding: 12px 12px;
              border-radius: 4px;

              cursor: pointer;
              transition: all 250ms ease-in-out;

              svg {
                margin-top: 2px;
                margin-right: 10px;

                .fill {
                  fill: $white;
                }
              }

              .repository-content {
                display: flex;
                flex-direction: column;
                flex: 1;

                .repository-title {
                  color: $link;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 16px;
                  letter-spacing: 0.01em;

                  span {
                    color: $link;
                    font-weight: 600;
                  }
                }

                .repository-description {
                  font-size: 14px;
                  line-height: 19px;

                  margin-bottom: 8px;
                }

                .repository-info {
                  display: flex;

                  list-style: none;
                  margin: 0;
                  padding: 0;

                  li {
                    display: flex;
                    align-items: center;

                    font-size: 12px;

                    margin-right: 16px;

                    &:last-child {
                      margin-right: 0;
                    }

                    &.stargazers {
                      svg {
                        margin-top: 0;
                        margin-right: 6px;

                        .fill {
                          fill: $white;
                        }
                      }
                    }

                    &.language {
                      .language-color {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;

                        background-color: #f1e05a;

                        margin-right: 6px;
                      }
                    }
                  }
                }
              }

              &:hover {
                text-decoration: none !important;
                background: rgba(255, 255, 255, 0.12);
              }
            }
          }
        }
      }
    }
  }
}
