@import "variables";

.repository-detail {
  padding-top: 40px;
  padding-bottom: 40px;

  .content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);

    .card-about {
      margin-bottom: 16px;

      .card-body {
        h1 {
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.01em;

          margin-bottom: 12px;

          span {
            font-weight: 600;
          }
        }

        .description {
          font-size: 16px;
          line-height: 22px;

          margin-bottom: 24px;
        }

        .info {
          display: flex;
          flex-direction: column;

          margin-bottom: 24px;

          .info-row {
            display: flex;

            margin-bottom: 10px;

            .info-col {
              display: flex;
              align-items: center;

              font-size: 14px;

              &:first-child {
                width: 20%;
                margin-right: 24px;
              }

              &:last-child {
                flex: 1;
              }

              svg {
                margin-right: 10px;

                .fill {
                  fill: $white;
                }
              }

              .language-color {
                width: 14px;
                height: 14px;
                border-radius: 50%;

                background-color: #f1e05a;

                margin-right: 10px;
              }
            }
          }

          .btn {
            margin-right: 16px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    .card-from-author {
      flex: 1;
      overflow: hidden;

      .card-header {
        display: flex;
        align-items: center;

        height: 36px;
        min-height: 36px;

        font-size: 14px;
        font-weight: 600;

        background: #4e5256;

        border: 0;
        padding: 0 24px;
      }

      .card-body {
      }
    }

    &.loading {
      align-items: center;
      justify-content: center;
    }
  }
}
